img{
	width: 30%;
	float: left;
	margin: 1.66%;
}
p{
	font-family: 'Lobster', cursive;
	border-bottom: 3px solid red;
	font-size: 30px;
	text-transform: uppercase;
	padding-bottom: 1%;
	margin-left: 1.66%;
	width: 30%;
}